.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box {
    background-color: rgb(91, 170, 84);
    width: 100px;
    height: 50px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
  }